body{
	padding:0;
	margin:0;
	font-family:Montserrat;
	color:black;
}

.main ul{
	list-style-type: none;
	margin:0;
	padding:0;
	font-size: 16px;
}

.tasks ul{
	color:#656565;
}

.tasks li{
	display:grid;
	grid-template-columns: 5% 90% 5%;
	align-items:center;
	margin-bottom:15px;
	border-bottom:1px solid #AAAAAA;
	padding-bottom:15px;
}


.wrapper{
	display:grid;
	grid-template-columns: 25% 75%;
}

.wrapper2{
	padding-top:20px;
	padding-right:20px;
	padding-left:20px;
}

.nav{
	background-color: #8AC926;
	height:50px;
}

.aside{
	background-color: #F6F6F6;
	padding-top:50px;
	height:2000px;
}

.main{
	background-color: white;
	padding-top:50px;
}

#container1{
	padding-left:100px;
	padding-right:100px
}

#container2{
	padding-left:100px;
	padding-right:100px
}

h1{
	font-size: 32px;
	font-weight: 900;
	color:white;
	margin:0;
	padding-left:100px;
}

h2{
	font-size: 32px;
	font-weight: 700;
	color:white;
	background-color: #8AC926;
	width:129px;
	text-align: center;
	margin-bottom: 40px;
}

h3{
	font-size: 24px;
	font-weight: 700;
}

h4{
	font-size: 24px;
	font-weight: 500;
	margin:0;
	padding:0;
	margin-bottom: 10px;
}

h5{
	font-size: 18px;
	font-weight: 500;
	margin:0;
	padding-bottom: 30px;
}

h5 img{
	float:right;
	margin-right:10px;
}

h5 input{
	display:none;
}

h5 button{
	display:none;
}


p{
	margin:0;
	font-size: 15px;
	font-weight: 400;
	color:#656565;
}

.setoftasks{
	height:359px;
	margin-bottom: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.study{
	background-color:rgba(255, 202, 58, 0.25);
}

.home{
	background-color:rgba(138, 201, 38, 0.25);
}

.tasks{
	margin-top:25px;
	margin-left:25px;
	margin-bottom:25px;
	margin-right:25px;
}

.study .tasks {
	background-color:rgba(255, 202, 58, 0.5);
}

.home .tasks {
	background-color:rgba(138, 201, 38, 0.5);
}

.circle{
	margin-right:5px;
	height: 11px;
  	width: 11px;
	background-color: none;
	border-radius: 100%;
	border:1px solid #656565;
	box-sizing: border-box;
}

.smallcircle{
	height: 11px;
  	width: 11px;
	background-color: #8AC926;
}

.checked1{
	background-color:#8AC926;
	border:none;
}

.checked2{
	text-decoration: line-through;
}

.taskInput{
	border:none;
	background-color:rgba(255, 202, 58, 0);
	font-family:Montserrat;
	font-size: 15px;
	font-weight: 400;
	color:#656565;
}

.taskInput:focus{
	outline: none;
}




/*Scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 202, 58);
}
 
::-webkit-scrollbar-thumb {
  background: #8AC926; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8AC926; 
}


